<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Tests">
    <parameter name="browser" value="chrome"/>
    <listeners>
        <listener class-name="listeners.ExtentReportListener"></listener>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="Smoke">
        <classes>
            <class name="tests.LoginTest"></class>
        </classes>
    </test>
</suite>